<h1><%= @player_1.name%> vs <%= @player_2.name %></h1>

<h2> <%= @player_1.name%>: <%= @player_1.hp %> HP </h2>

  <form action="/attack" method=post>
      <input type="submit" value="Attack Player 2" name="attack_confirmation">
      <% if @attack_confirmation %>
      <p><%= @player_1.name%> has attacked <%= @player_2.name %>!</p>
      <% end %>
  </form>

<h2> <%= @player_2.name %>: <%= @player_2.hp %> HP</h2>
